$spacing-unit: 30px !default;
:root {
	--color-black: #35405d;
	--color-white: #f1f1e6;
	--color-grey: #333;
	--color-light-grey: #666;
	--color-red: #f00;
	--color-green: #004F00;
	--color-yellow: #ff0;
	--color-blue: #79b8ff;
	--color-magenta: #ef018d;
	--color-purple: #f0f;
	--color-cyan: #0ff;

	--color-foreground: var(--color-black);
	--color-background: var(--color-white);
	--color-separator: var(--color-black);
	--color-link: var(--color-magenta);
	--color-link-visited: var(--color-magenta);
	--color-button: var(--color-foreground);
	--color-button-text: var(--color-);
	--color-brand: var(--color-light-grey);
}

@media (prefers-color-scheme: dark) {
  /* Re-assign previous variables */
	:root {
		--color-foreground: var(--color-white);
		--color-background: var(--color-black);
		--color-separator: var(--color-white);
		--color-link: var(--color-magenta);
		--color-link-visited: var(--color-magenta);
		--color-button: var(--color-ligth-grey);
		--color-button-text: var(--color-black);
		--color-brand: var(--color-ligth-grey);
	}
}
